.wrapper {
  position: relative;
}

.circle {
  position: relative;
  z-index: 1;
  left: calc((100% - 530px) / 2);
  max-width: 530px;
  max-height: 530px;
  border: 1px solid var(--gray-dark-20);
  border-radius: 50%;
  transform-origin: center center;
  transition: transform var(--animation-duration-600) linear;
}

@media (max-width: 768px) {
  .circle {
    display: none;
  }

  .yearsWrapper {
    position: static;
    max-width: calc(100% - var(--mob-offset) * 2);
    transform: unset;
  }
}

@media (max-width: 320px) {
  .yearsWrapper {
    justify-content: space-between;
  }
}