.card {
  min-height: 114px;
}

.year {
  margin-bottom: 15px;
  color: var(--blue);
  font-family: 'Bebas Neue', 'Helvetica Neue', Arial, sans-serif;
  font-size: 25px;
  line-height: 120%;
}

.description {
  font-size: 20px;
  line-height: 30px;
}

@media (max-width: 768px) {
  .year {
    font-size: 16px;
  }

  .description {
    font-size: 14px;
    line-height: 145%;
  }
}