.sectionNumber {
  margin-bottom: 20px;
  font-size: 14px;
}

.prevBtn {
  margin-right: 20px;
}

.nextBtn {
  transform: rotate(180deg);

  svg {
    transform: translateY(2px);
  }
}

@media (max-width: 768px) {
  .sectionNumber {
    margin-bottom: 10px;
  }

  .prevBtn {
    margin-right: 8px;
  }
}