@import './assets/styles/fonts.scss';

:root {
  --black: #000000;
  --white: #FFFFFF;
  --gray-dark: #42567A;
  --gray-dark-10: #42567a1a;
  --gray-dark-20: #42567a33;
  --gray-dark-40: #42567a66;
  --gray-middle: #303E58;
  --gray-lite: #E5E5E5;
  --fuchsia: #EF5DA8;
  --iris: #5D5FEF;
  --blue: #3877EE;
  --blue-10: rgba(56, 119, 238, 0.1);
  --mob-offset: 20px;
  --desk-offset: 78px;
  --animation-duration-300: 0.3s;
  --animation-duration-500: 0.5s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}