.btnSwiper {
  position: absolute;
  top: 50%;
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: var(--white);
  box-shadow: 0 0 10px 1px var(--blue-10);
  box-shadow: 0 0 10px 1px var(--blue-10);
  box-shadow: 0 0 10px 1px var(--blue-10);
  cursor: pointer;
  outline: none;
  transform: translateY(-50%);
}

@media (max-width: 768px) {
  .btnSwiper {
    display: none;
  }
}