.btnSwiper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: var(--white);
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 10px 1px var(--blue-10);
  -moz-box-shadow: 0px 0px 10px 1px var(--blue-10);
  box-shadow: 0px 0px 10px 1px var(--blue-10);
}

@media (max-width: 768px) {

  .btnSwiper {
    display: none;
  }
}